<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Mifaou FORM</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/font/flaticon.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/style.css">
</head>

<body>

	<section class="fxt-template-animation fxt-template-layout18" data-bg-image="/img/figure/bg18-l.jpg">
		<div class="fxt-content">
			<div class="fxt-header">
				<a href="login-18.html" class="fxt-logo"><img src="img/logo-18.png" alt="Logo"></a>
			</div>
			<div class="fxt-form">
				<center><p>Sign In</p></center>
				<form method="POST" action="auth_login">
					<div class="form-group">
						<div class="fxt-transformY-50 fxt-transition-delay-1">
							<input type="email" id="email" class="form-control" name="email" placeholder="Email" required="required">
						</div>
					</div>
					<div class="form-group">
						<div class="fxt-transformY-50 fxt-transition-delay-2">
							<input id="password" type="password" class="form-control" name="password" placeholder="********" required="required">
							<i toggle="#password" class="fa fa-fw fa-eye toggle-password field-icon"></i>
						</div>
					</div>
					
					<div class="form-group">
						<div class="fxt-transformY-50 fxt-transition-delay-4">
							<button type="submit" class="fxt-btn-fill">Sign In</button>
						</div>
					</div>
				</form>
			</div>
			<div class="fxt-style-line">
				<div class="fxt-transformY-50 fxt-transition-delay-5">
					<h3>					<p>Don't have an account?<a href="/register" class="switcher-text2 inline-text">Register</a></p>
                    </h3>
				</div>
			</div>
			
		
		</div>
	</section>
	<script src="/js/jquery-3.5.0.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/imagesloaded.pkgd.min.js"></script>
	<script src="/js/validator.min.js"></script>
	<script src="/js/main.js"></script>

</body>


</html>